<div class="col-lg-8 col-lg-offset-2">
	<div class="jumbotron">
	  <h1>Bienvenido al Sistema de Cobro</h1>
	  <p>...</p>
	  <p><a class="btn btn-primary btn-lg" [routerLink]="['/solicitudes', 1]" role="button">Ver solicitudes</a></p>
	</div>
</div>
