<div class="head-page" *ngIf="identity">
	<h1>{{titulo}}</h1>
	<a [routerLink]="['/crear-solicitud']" *ngIf="identity" class="btn btn-success">
		Añadir Solicitud
	</a>

	<ul class="pagination pull-right">
		<li><a [routerLink]="['/solicitudes', prev_page]">&laquo;</a></li>
		<li><a [routerLink]="['/solicitudes', next_page]">&raquo;</a></li>
	</ul>
</div>
<div class="clearfix"></div>
<div class="solicitudes-list" *ngIf="identity">
	<ul class="nav nav-tabs">
	    <li class="active"><a data-toggle="tab" href="#home">Todas</a></li>
	    <li><a data-toggle="tab" href="#menu1">Recibidas</a></li>
	    <li><a data-toggle="tab" href="#menu2">Verificadas</a></li>
	    <li><a data-toggle="tab" href="#menu3">Aprobadas</a></li>
	    <li><a data-toggle="tab" href="#menu4">Aceptadas</a></li>
	    <li><a data-toggle="tab" href="#menu5">Rechazadas</a></li>
	</ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      	<div *ngFor="let solicitud of solicitudes" class="col-lg-12">
			<div class="row">
				<table class="table table-solicitudes solicitudes-list-content">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>	
			</div>
		</div>
    </div>
    <div id="menu1" class="tab-pane fade">
      	<div *ngFor="let solicitud of solicitudes" class="col-lg-12 ">
			<div class="row">
				<table class="table table-solicitudes solicitudes-list-content" *ngIf="solicitud.status == 'Recibida'">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>
    </div>
    <div id="menu2" class="tab-pane fade">
      <div *ngFor="let solicitud of solicitudes" class="col-lg-12 ">
			<div class="row">
				<table class="table table-solicitudes solicitudes-list-content" *ngIf="solicitud.status == 'Verificada'">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>	
			</div>
	  </div>
    </div>
    <div id="menu3" class="tab-pane fade">
    	<div *ngFor="let solicitud of solicitudes" class="col-lg-12 ">
    		<div class="row">
				<table class="table table-solicitudes solicitudes-list-content" *ngIf="solicitud.status == 'Aprobada'">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>	
			</div>
    	</div>
    </div>
    <div id="menu4" class="tab-pane fade">
    	<div *ngFor="let solicitud of solicitudes" class="col-lg-12 ">
    		<div class="row">
				<table class="table table-solicitudes solicitudes-list-content" *ngIf="solicitud.status == 'Aceptada'">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>	
			</div>
    	</div>
    </div>
    <div id="menu5" class="tab-pane fade">
    	<div *ngFor="let solicitud of solicitudes" class="col-lg-12 ">
    		<div class="row">
				<table class="table table-solicitudes solicitudes-list-content" *ngIf="solicitud.status == 'Rechazada'">
					<thead>
						<tr>
							<th width="20">AP. NO.</th>
							<th width="10">Fecha</th>
							<th width="20">Persona Fisica</th>
							<th width="15">Monto</th>
							<th width="25">Status</th>
							<th width="5">Score</th>
							<th width="5"></th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>{{solicitud.numero}}</td>
							<td>{{solicitud.fecha}}</td>
							<td>{{solicitud.personaFisica}}</td>
							<td>{{solicitud.monto}}</td>
							<td>{{solicitud.status}}</td>
							<td>{{solicitud.score}}</td>
							<td>
								<a [routerLink]="['/solicitud', solicitud._id]" class="btn btn-sm btn-primary">Ver Detalles</a>
								<a (click)="onDeleteConfirm(solicitud._id)" class="btn btn-sm btn-danger">Borrar</a>
								<div class="seguro" *ngIf="confirmado == solicitud._id">
									<a (click)="onDeleteSolicitud(solicitud._id)" class="btn btn-sm btn-default">
										Eliminar
									</a>
									<a (click)="onCancelSolicitud(solicitud._id)" class="btn btn-sm btn-danger">
										Cancelar
									</a>
								</div>
							</td>

						</tr>
					</tbody>
				</table>	
			</div>
    	</div>
    </div>
</div>
	