<div class="col-lg-12">
	<div *ngIf="solicitud" class="solicitud-box">
		<div id="solicitud-head-card">
		<h1>Detalles</h1>
			<dl class="dl-horizontal">
			  <dt>AP. NO.</dt>
			  <dd>{{solicitud.numero}}</dd>
			  <dt>Fecha</dt>
			  <dd>{{solicitud.fecha}}</dd>
			  <dt>Persona Fisica</dt>
			  <dd>{{solicitud.personaFisica}}</dd>
			  <dt>Monto</dt>
			  <dd>{{solicitud.monto}}</dd>
			  <dt>Status</dt>
			  <dd>{{solicitud.status}}</dd>
			  <dt>Score</dt>
			  <dd>{{solicitud.score}}</dd>
			</dl>
		</div>
	</div>
</div>
