<div class="col-lg-5" *ngIf="identity">
	<h1> {{titulo}} </h1>

	<div *ngIf="alertMessage" >
		<div class="alert alert-info">
			{{alertMessage}}
		</div>
	</div>


	<form #formSolicitud="ngForm" (ngSubmit)="onSubmit()"  >
		<p>
			<label>Numero:</label>
			<input type="text" #numero="ngModel" name="numero" [(ngModel)]="solicitud.numero" required class="form-control" />
			<span *ngIf="!numero.valid && numero.touched">
				El numero es obligatorio
			</span>
		</p>
		<p>
			<label>Fecha:</label>
			<input type="text" #fecha="ngModel" name="fecha" [(ngModel)]="solicitud.fecha" required class="form-control" />
			<span *ngIf="!fecha.valid && fecha.touched">
				La fecha es obligatoria
			</span>
		</p>
		<p>
			<label>Persona Fisica:</label>
			<input type="text" #personaFisica="ngModel" name="personaFisica" [(ngModel)]="solicitud.personaFisica" required class="form-control" />
			<span *ngIf="!personaFisica.valid && personaFisica.touched">
				La persona fiisica es obligatoria
			</span>
		</p>
		<p>
			<label>Monto:</label>
			<input type="text" #monto="ngModel" name="monto" [(ngModel)]="solicitud.monto" required class="form-control" />
			<span *ngIf="!monto.valid && monto.touched">
				El monto es obligatorio
			</span>
		</p>
		<p>
			<label>Status:</label>
			<select #status="ngModel" name="status" [(ngModel)] = "solicitud.status" required class="form-control">
				<option disabled="disabled" selected="selected">Escoge una opcion </option>
				<option value='Recibida'>Recibida</option>
				<option value='Verificada'>Verificada</option>
				<option value='Aprobada'>Aprobada</option>
				<option value='Aceptada'>Aceptada</option>
				<option value='Rechazada'>Rechazada</option>
			</select>
			
			<span *ngIf="!status.valid && status.touched">
				El status es obligatorio
			</span>
		</p>
		<p>
			<label>Score:</label>
			<input type="text" #score="ngModel" name="score" [(ngModel)]="solicitud.score" required class="form-control" />
			<span *ngIf="!score.valid && score.touched">
				El score es obligatorio
			</span>
		</p>

		<div *ngIf="is_edit">
			
		</div>

		<input type="submit" value="{{titulo}}" [disabled]="!formSolicitud.form.valid" class="btn btn-success" />
	</form>
</div>
<!--<div class="col-lg-5" *ngIf="!identity || identity != 'ROLE_ADMIN'">
	<h1>Error</h1>
	<p>No tienes acceso a esta parte de la aplicacion</p>
</div>-->