<div *ngIf="identity" class="navigation col-lg-1">
	<h1 class="head-title">
  		<a [routerLink]="['/']">
  		<span class="glyphicon glyphicon-usd" aria-hidden="true"></span>
  			{{title}}
  		</a>	
	</h1>
	<nav id="navigation">
		<a href="#">
			<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
			Buscar
		</a>
		<a [routerLink]="['/solicitudes', 1]" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
			Solicitudes
		</a>
	</nav>

	<nav id="user_logged">
	<hr />
		<span id="identity_name">
			Bienvenido, {{identity.name}} 
		</span>
		<a [routerLink]="['/mis-datos']" [routerLinkActive]="['actived']">
			<span class="glyphicon glyphicon-cog" aria-hidden="true">
			</span>
			Mis datos
		</a>
		<a (click)="logout()" class="btn-logout">
			<span class="glyphicon glyphicon-log-out" aria-hidden="true">
			</span>
			Salir
		</a>
	</nav>
	
</div>

<div [class.hidden]="!identity" class="central col-lg-11">
	<router-outlet></router-outlet>
</div>

<div class="col-lg-11" *ngIf="!identity">
	<div class="col-lg-6">
		<h1>Identificate</h1>
		<div *ngIf="errorMessage" >
			<div class="alert alert-info">
				<strong>Error</strong> {{errorMessage}}
			</div>
		</div>
		<form #loginForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-7">
			<p>
				<label>Correo electrónico:</label>
				<input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" required />
				<span *ngIf="!email.valid && email.touched">
					El email es obligatorio
				</span>
			</p>
			<p>
				<label>Contraseña:</label>
				<input type="password" #password="ngModel" name="password" [(ngModel)]="user.password" class="form-control" required />
			</p>

			<input type="submit" value="Entrar" name="" class="btn btn-primary" />
		</form>
	</div>
	<div class="col-lg-6">
		<h1>Registrate</h1>
		<div *ngIf="alertRegister" >
			<div class="alert alert-info">
				{{alertRegister}}
			</div>
		</div>
		<form #registerForm="ngForm" (ngSubmit)="onSubmitRegister()" class="col-md-10">
			<p>
				<label>Nombre:</label>
				<input type="text" #name="ngModel" name="name" [(ngModel)] = "user_register.name" class="form-control" required />
				<span *ngIf="!name.valid && name.touched">
					El nombre es obligatorio
				</span>
			</p>
			<p>
				<label>Apellidos:</label>
				<input type="text" #surname="ngModel"  name="surname" [(ngModel)] = "user_register.surname" class="form-control" required />
				<span *ngIf="!surname.valid && surname.touched">
					El nombre es obligatorio
				</span>
			</p>
			<p>
				<label>Correo Electronico:</label>
				<input type="email" #email="ngModel"  name="email" [(ngModel)] = "user_register.email" class="form-control" required />
				<span *ngIf="!email.valid && email.touched">
					El email es obligatorio
				</span>
			</p>
			<p>
				<label>Contraseña:</label>
				<input type="password" #password="ngModel"  name="password" [(ngModel)] = "user_register.password" class="form-control" required />
				<span *ngIf="!password.valid && password.touched">
					El password es obligatorio
				</span>
			</p>

			<input type="submit" value="Registrar" name="" class="btn btn-primary" />
		</form>
	</div>
</div>



