html, body{
	margin: 0;
	height: 100%;
	background: #eee;
}

.actived{
	border-bottom: 4px solid #84BD00;
	padding-bottom: 4px;
}

.seguro{
	margin-top: -30px;
	background-color: #f4f6f7;	
	position: absolute;
	height: 40px;
}

.head-title{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 25px;
	display: block;
}

.navigation{
	text-align: center;
	color: white;
	background: #1C1C1F;
	height: 100%;
}

.navigation a{
	color: #ddd;
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
	text-decoration: none;
}

.navigation a:hover{
	color:white;
}

.navigation .glyphicon{
	font-size: 25px;
	display: block;
	width: 100%;
}

#user_logged{
	background: #1C1C1F;
	position: absolute;
	bottom: 0;
	border-color: 1px solid #444;
	width: 75%; 
}

#user_logged .user-image{
	background: #eee;
	border-radius: 100px;
	width: 57px;
	height: 57px;
	margin: 0px auto;
	margin-top: 15px;
	overflow: hidden;
}

#user_logged .user-image img{
	width: 57px;
}
.btn-logout{
	cursor: pointer;
}
.solicitudes-list-content{
	border: 1px solid #c4d0e1;
	margin-bottom: 10px;
	background-color: #f4f6f7;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: #f4f6f7;	
}

